body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.footer {
	flex: 1;
	background-color: #1D1D1D;
	color: azure;
}

.background-image {
	z-index: 1;
	height: 100vh;
	position: fixed;
	left: 0;
	right: 0;
	background-image: url("../img/bg-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.navbar {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 11;
}

.navbar-item {
	color: azure;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section {
	padding: 5rem 1.5rem;
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(50%);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

.intro .main-content {
	animation: 1s ease 0s 1 slideInFromRight;
	flex: 1 0 auto;
}

.intro {
	background-color: #edfde0;
	padding-top: calc(5rem + 56px);
}

.main-content h1 {
	color: black;
	font-weight: 700;
	font-size: 3em;
}

.main-content h2 {
	color: #515A5A;
	font-weight: 400;
	font-size: 1.25em;
	padding-bottom: 1em;
}

.main-content p {
	color: #515A5A;
	max-width: 820px;
	font-weight: 300;
}

.main-content h3 {
	font-size: 0.75em;
	letter-spacing: 2px;
}

.main-content img {
	max-width: 190px;
	max-height: 190px;
	width: auto;
	height: auto;
	padding-left: 0;
	padding-right: 0;
	box-shadow: 1px 2px 10px;
}

.projects {
	background-color: #F2F3F5;
	position: relative;
	z-index: 10;
}

.project {
	position: relative;
	background-color: #F2F3F5;
}

.project .marker-left, .project .marker-right {
	width: 5vw;
	position: absolute;
	top: 0;
	bottom: 0;
	transition: background-color 0.3s ease;
}

.project .marker-left {
	left: 0;
}

.project .marker-right {
	right: 0;
}

.project:hover .marker-left, .project:hover .marker-right {
	background-color: #9FB8AD;
}

.project .desc-container-left {
	padding-left: 7vw;
	padding-bottom: 7rem;
	position: relative;
}

.project .desc-container-right {
	padding-right: 7vw;
	padding-bottom: 7rem;
	padding-left: 2vw;
}

.project .desc {
	padding-top: 2em;
	padding-bottom: 2em;
	position: relative;
}

.project h1 {
	color: #515A5A;
	font-weight: 700;
	font-size: 2em;
	display: inline;
	letter-spacing: 2px;
	/* text-transform: uppercase; */
}

.project h2 {
	color: #515A5A;
	font-weight: 400;
	font-size: 1em;
	display: block;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.project h5 {
	color: #747c7b;
	font-weight: 300;
	font-size: 0.75em;
	letter-spacing: 1px;
	padding-top: 5px;
	display: inline;
	text-align: right;
}

.project img {
	object-fit: cover;
	max-height: 800px;
	padding: 0px;
}

.project ul {
	position: absolute;
	bottom: 1rem;
	padding-left: 0;
}

.project .logo i {
	font-size: 3em;
	transition: font-size 0.2s ease;
}

.project .logo:hover i {
	font-size: 3.5em;
}

@media screen and (max-width: 992px) {
	.project h5 {
		text-align: left;
		padding-top: 0px;
	}
	.project .desc-container-right, .project .desc-container-left {
		padding-right: 7vw;
		padding-left: 7vw;
		padding-bottom: 7rem;
	}
	.project img {
		max-height: 400px;
	}
	.project:hover .marker-left, .project:hover .marker-right {
		background-color: transparent;
	}
}

.project p {
	color: #515A5A;
	max-width: 820px;
	font-weight: 300;
}

li {
	display: inline;
	margin-right: 2em;
}

footer .container {
	margin-top: 2em;
}

footer h1 {
	font-weight: 300;
	margin-bottom: 0.5em;
	color: rgb(163, 163, 163);
	font-size: 0.75em;
}

footer ul {
	padding-left: 0;
}

footer a {
	font-size: 2em;
}

a {
	transition: color 0.2s;
}

a:link {
	color: azure;
}

a:visited {
	color: azure;
}

a:hover, a.navbar-item:hover {
	color: #9FB8AD;
	text-decoration: none;
}

a:active, a.navbar-item:active {
	color: #475841;
}

a.logo:link {
	color: #515A5A;
}

a.logo:visited {
	color: #515A5A;
}

a.logo:hover {
	color: #515A5A;
}

a.logo:active {
	color: #515A5A;
}

.row {
	margin-right: 0px;
}